.Map {
    height: 100%;
    position: absolute;
    width: 100%;
}

.Map .mapboxgl-ctrl-bottom-left,
.Map .mapboxgl-ctrl-bottom-right {
    display: none;
}

.Map-pin {
    background: url('./assets/pin.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
}