.Map {
    height: 100%;
    position: absolute;
    width: 100%;
}

.Map .mapboxgl-ctrl-bottom-left,
.Map .mapboxgl-ctrl-bottom-right {
    display: none;
}

.Map-pin {
    background: url('./assets/pin.svg') no-repeat;
    background-size: cover;
    height: 28px;
    width: 20px;
}