.Map {
    height: 100%;
    position: absolute;
    width: 100%;
}

.Map .mapboxgl-ctrl-bottom-left,
.Map .mapboxgl-ctrl-bottom-right {
    display: none;
}

.Map-pin {
    animation: markerappears .4s;
    background: url('./assets/pin.svg') no-repeat;
    background-size: cover;
    height: 28px;
    transform-origin: bottom center;
    transition: .2s;
    width: 20px;
}

.Map-pin.hovered {
    transform: scale(1.5);
}

.Map-pin.Éducation {
    background-image: url('./assets/pin-education.svg');
}

.Map-pin.Public {
    background-image: url('./assets/pin-public.svg');
}

@keyframes markerappears {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width: 1023px) {
    .Map-pin {
        height: 21px;
        width: 15px;
    }
}